@{
    ViewBag.Title = "Third Query";
}

<h2>@ViewBag.Title</h2>

<div id="instructions">
    <strong>Write a query to calculate the greatest number of commissions in the ‘Created’ status at any point in time over the last year and group the results by Dealer.Name</strong>   
</div>

<br /><br />

<div>greatest number of commissions in the ‘Created’ status at any point in time: (I didn't specify that it is for the last year) <br />
    @ViewBag.NumMaxOfCommissions commission(s).</div> 
